@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.carousel{
	height: 500px;
	position: relative;
}

.green{
	color: green;
	font-size: 15px;
	font-weight: bold;
}
.text{
	
	font-size: 15px;
	font-weight: bold;
}



/* components/ProductCard.module.css */
.product-card {
	border: 1px solid #e8e8e8;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 16px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .price-btn {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  }
  
  /* Adjust as per your design preferences */
  h2 {
	font-size: 24px;
	margin-bottom: 8px;
  }
  
  h3 {
	font-size: 18px;
	margin-bottom: 8px;
  }
  
  p {
	margin-bottom: 8px;
  }
  


  .navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	background-color: #001529;
	color: white;
  }
  
 
  .menu {
	display: flex;
	align-items: center;
  }
  
  .menu.hidden {
	display: none;
  }
  
  .menu-toggle {
	display: none;
  }
  
  @media (max-width: 768px) {
	.menu {
	  display: none;
	}
  
	.menu-toggle {
	  display: block;
	}
  
	.collapsed .menu {
	  display: flex;
	  flex-direction: column;
	}
  }
  


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #001529;
    padding: 70px 0;
}
.footer-col{
   /* width: 25%; */
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
	.carousel{
		height: 400px;
	}
  .footer-col{
    /* width: 50%; */
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
	.carousel{
		height: 300px;
	}
  .footer-col{
    /* width: 100%; */
}

}

:where(.css-dev-only-do-not-override-txh9fw).ant-menu-dark .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-txh9fw).ant-menu-dark > .ant-menu .ant-menu-item-selected {
    background-color: transparent !important;
}


@media screen and (min-width: 1400px) {
	.main {
	  max-width: 1400px;
	  margin: 0 auto;
	}
  }


  




